header {
  background-color: #043e7c;
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  position: fixed;
}

div {
  position: relative;
  top: 80.8667px;
}

div ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

div ul li {
  margin: 0 1em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #043e7c;
  color: white;
  text-align: center;
}
