header {
  background-color: #043e7c;
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

nav ul {
    display: flex; 
    justify-content: center; 
    list-style-type: none; 
    background-color: #043e7c; 
    color: white; 
}

nav ul li {
    padding: 0 3em;
}

nav ul li a {
    color: white;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #043e7c;
  color: white;
  text-align: center;
}
