body {
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #FAEBD7;
  color: #A52A2A;
  width: 100%;
  text-align: center;
}

nav ul {
    display: flex; 
    justify-content: center; 
    list-style-type: none; 
    background-color: #FAEBD7; 
    color: #A52A2A;
    padding: 0px;
}

nav ul li {
    padding: 0 5%;
}

nav ul li a {
    color: #A52A2A;
}

section {
  margin: .954%;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FAEBD7;
  color: #A52A2A;
  text-align: center;
}
